<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sales details</title>
</head>
<body>
	<div align = "center">
		<h1>Sales Details</h1>
		<table>
			<thead>
				<tr>
					<th> ID </th>
					<th> ITEM </th>
					<th> COUNTRY </th>
					<th> QUANTITY </th>
					<th> AMOUNT </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="sale : ${listSales}">
					<td th:text="${sale.id}"/>
					<td th:text="${sale.item}"/>
					<td th:text="${sale.country}"/>
					<td th:text="${sale.quantity}"/>
					<td th:text="${sale.amount}"/>
			
				</tr>
			</tbody>
		</table>	
	</div>

</body>
</html>